
form {
  text-align: center;
}

.textinput {
  display: block;
  margin: auto;
  margin-bottom: 1em;
}

.button {}

.textarea {
  margin: auto;
  display: block;
  height: 40vh;
  width: 80vw;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}